In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import torch
import os
from pathlib import Path

device = "cuda" if torch.cuda.is_available() else "cpu"
print(f'Device: {device}')

data_folder = Path("../../data")

# Necessary for notebook to see src package
import sys
sys.path.append('../..')

Device: cuda

In [19]:
classification_datasets = [
    'Adult',
    'Covertype',
    'Credit',
    'Intrusion',
    'Loan'
]

regression_datasets = [
    'King',
    'Insurance'
]

In [33]:
def load_evaluation(dataset_name: str, model_name: str):
    evaluations = pd.read_csv(data_folder / dataset_name / model_name / 'evaluations.csv')
    return evaluations

def mean_all_evaluations(model_name: str):
    evaluations = pd.DataFrame()
    datasets = classification_datasets + regression_datasets
    
    for dataset in datasets:
        evaluation = load_evaluation(dataset, model_name)
        evaluation = evaluation.mean(axis=0).to_frame().T  
        evaluations= pd.concat([evaluations, evaluation], ignore_index=True)

    evaluations.index=datasets
    return evaluations

def mean_all_datasets(model_name: str):
    regression_evaluations = pd.DataFrame()
    classification_evaluations = pd.DataFrame()
      
    for dataset in classification_datasets:
        evaluation = load_evaluation(dataset, model_name)
        evaluation = evaluation.mean(axis=0).to_frame().T  
        classification_evaluations= pd.concat([classification_evaluations, evaluation], ignore_index=True)
        
    classification_evaluations = classification_evaluations.mean(axis=0).to_frame().T
        
    
    for dataset in regression_datasets:
        evaluation = load_evaluation(dataset, model_name)
        evaluation = evaluation.mean(axis=0).to_frame().T  
        regression_evaluations= pd.concat([regression_evaluations, evaluation], ignore_index=True)
        
    regression_evaluations = regression_evaluations.mean(axis=0).to_frame().T
    
    evaluations = pd.concat([classification_evaluations, regression_evaluations], ignore_index=True)
    evaluations.index = ['Classification', 'Regression']
    
    return evaluations

In [ ]:
mean_all_evaluations('CTGAN')

                JSD        WD       PCD        PS
Adult      0.090289  0.013946  0.278555  0.026662
Covertype  0.037994  0.040275  2.595536  0.094677
Credit     0.324848  0.019207  7.827724  0.063478
Intrusion  0.072686  0.040289       NaN  0.009038
Loan       0.078797  0.043769       NaN  0.033401
King       0.210336  0.027672       NaN  0.051431
Insurance  0.053425  0.095553       NaN  0.036563

In [35]:
mean_all_datasets('CTGAN')

                     JSD        WD       PCD        PS
Classification  0.120923  0.031497  3.567272  0.045451
Regression      0.131881  0.061612       NaN  0.043997

In [37]:
(0.090289 + 0.037994 + 0.072686 + 0.078797) / 4

0.06994149999999999